.about {
/*  padding: 25px;*/
  margin: 15px;
  color: black;
  font-size: 20px;
  text-align: center;
  font-style: sans-serif; 
  line-height: 150%;
  font-family: "Courier New"; 
}

.second {
  padding: 25px;
  margin: 15px;
  color: black;
  font-size: 20px;
  text-align: center;
  font-style: sans-serif; 
  line-height: 150%;
  font-family: "Courier New"; 
  border-color: red;
  border-style: dotted;
  border-width: 5px;
}

.second:hover {
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  font-style: sans-serif; 
   border-color: white;
  border-style: solid;

}

.third {
  padding: 25px;
  margin: 15px;
  color: black;
  font-size: 20px;
  text-align: center;
  font-style: sans-serif; 
  line-height: 150%;
  font-family: "Courier New"; 
}

.video {
  text-align: center;
  padding: 25px;
}

h3 {
  display: none;
  text-align: center;
  color: red;
  font-weight: bold;
  padding: 25px;
  margin: 15px;
}

.change {
  font-weight: bold;
  color: red;

}

.disease {
  font-weight: bold;
  color: red;

}