ul li {
	list-style: none;
}

/*.header {
  color: red;
}
*/
body {
<<<<<<< HEAD
  background-color: white; 
=======
  background-color: black; 
}

.about {
  padding: 25px;
  margin: 15px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-style: sans-serif; 
  line-height: 150%;
>>>>>>> b4220431594fc6d42904bdef9db6f7d59e3e131d
}